:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #ffffff;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: var(--color-body);
  background-color: #000;
  
 
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
/* Navigation Bar */
.nav {
  background: #181823;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem 0rem;
  align-items: center;
  padding-left: 0;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 2rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: cyan;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
  
}

/* Links */
a {
  text-decoration: none;
  outline: none;
  color: var(--color-body);
}
 .nav li:hover:not(.active) {
  background-color: #222
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

.resume__link:hover{
  color:cyan;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*Banner */
.banner {
  background: #fff3e4;
  text-decoration: none;
  width: 100%;
  height: 20rem;
  display: block;
}

/* Hero */
.hero {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 95% 100%);
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

/* Footer */
.footer .container {
  margin: 5rem auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 4rem;

  
}
.footer__item__bold{
  font-size: 3rem;
  
}

.footer__item> a:hover{
  color: cyan;
}

.footer__item__bold> a:hover{
  color: cyan;
}



.footer__item{
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .footer .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3.5rem;
    
  }
  .footer__item{
    font-size: 1.5rem;
    padding: .5rem;
  }
  .footer__item__bold{
    font-size: 3rem;
    color: white;
    margin: 1rem;
  }
  
}

/* Cards */
.card {
  overflow: hidden;
  margin-bottom: 4rem;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* projects */
.project {
  padding: 3rem;
}

.project__image {
  position: relative;
  margin: 0 3rem;
  margin-left: 0px;
  margin-right: 0px;
}
.project__image > img {
  width: 100%;
}

.project__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}
.project__description {
  padding: 2rem;
  background-color: #181823;
  margin-top: -1.25rem;
}
.project__section {
  padding: 4rem;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 768px) {
  .project__image {
    margin: 0;
  }

  .project .quote,
  .project .quote__author {
    font-size: 2.4rem;
  }

  .project .quote {
    margin-left: 6rem;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .project__section {
    margin-left: 0;
    margin-right: 0;
  }

}

/*Wrapper*/
.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper.grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.wrapper.projects-grid {
  display: block;
}

.wrapper.button-grid {
  grid-template-columns: 2fr 1fr;
}

@media screen and (min-width: 768px) {
  .wrapper.projects-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .wrapper.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 2rem;
    column-gap: 7.5rem;
    width: 75%;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

/* Features */
.feature__heading {
  margin: 1rem 0;
}
.feature:first-of-type {
  margin-top: 6rem;
}
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Button */
.projects__button{
  color: white;
  border-color: #5221e6;
  background-color: black;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  text-align: center;
  border-style: solid;
  border-width: .5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-style: bold;  
}

.projects__button:hover{
  background-color: rgba(82,33,230,100%);
  transition-duration: .5s;

 
}
