<div class="project__section">
    <div class="wrapper projects-grid">
        <div class="normal-wrapper">
            <div class="normal-wrapper" style="margin-bottom: 2.5rem; padding: 2.5rem;">
                <p style="margin:0px;">MY PROJECTS</p>
                <h1 style="margin:0px;">Classwork</h1>
            </div>
            <div class="normal-wrapper">
                <a href="classwork/united_states_historical_boundaries_app.html">
                    <div class="card">
                        <div class="project__image">
                            <img src="images/Historical_Boundaries_App.png" />
                        </div>
                        <footer class="project__description">
                            <h3 class="feature__heading">United States Historical Boundaries App</h3>
                            <p>Created an interactive web map documenting US Historical State Boundaries. The web
                                app showcases all historical boundary changes ranging from 1783 to 1959. </p>
                        </footer>
                    </div>
                </a>
                <a href="classwork/relief_zone.html">
                    <div class="card">
                        <div class="project__image">
                            <img src="images/Relief_Zone.jpg" />
                        </div>
                        <footer class="project__description">
                            <h3 class="feature__heading">Emergency Relief Zones </h3>
                            <p>Created hypothetical Relief Zone Map using Proximity and Overlay Analysis in ArcGIS
                                Pro
                                for Emergency/Disaster Management. Analysis Tools such as Buffer lines and Intersect
                                operations were used.</p>
                        </footer>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal-wrapper">
            <div class="normal-wrapper">
                <a href="classwork/tooltip.html">
                    <div class="card">
                        <div class="project__image">
                            <img src="images/Tooltip.png" />
                        </div>
                        <footer class="project__description">
                            <h3 class="feature__heading">Data Classification Tool Script </h3>
                            <p>Created an ArcGIS toolscript that automatically joins csv tables, defines interval
                                classifications, and labels classes. </p>
                        </footer>
                    </div>
                </a>
            </div>
            <div class="normal-wrapper">
                <a href="classwork/sanborn.html">
                    <div class="card">
                        <div class="project__image">
                            <img src="images/Sanborn.jpg" alt="A happy, smiling customer" />
                        </div>
                        <footer class="project__description">
                            <h3 class="feature__heading">Digitalizing Historical Maps </h3>
                            <p>Digitalized a paper scanned 1920s Sanborn map of Charlottesville, Virgnia. The scope
                                of
                                the project focused on digitalizing a few blocks within the city center. </p>
                        </footer>
                    </div>
                </a>
            </div>
            <div class="normal-wrapper">
                <a href="classwork/site_selection.html">
                    <div class="card">
                        <div class="project__image">
                            <img src="images/site_selection.png" alt="A happy, smiling customer" />
                        </div>
                        <footer class="project__description">
                            <h3 class="feature__heading">Site Selection Analysis </h3>
                            <p>Performed Site Selection Analysis to plan a biological reserve system within Centre
                                County. Created a set of criteria for suitable land use of Conservation and used
                                ArcGIS
                                to idenify areas </p>
                        </footer>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>