<div class="resume__block" style="background-color: #181823;">
    <div style="border-style: solid; border-width: 2px; border-color: darkcyan; background-color: #151515;">
        <h2 style ="margin: 0; text-align: center; padding: 1.5rem;">Education</h2>
    </div>
    <div style="border-style: solid; border-width: 2px; border-top:0;  border-bottom: 1px solid darkcyan; ;">
        <img src="/images/Penn_State_Logo.png" alt="" style="width: 15%; margin: 2rem; margin-bottom: 0; ">
        <p style="margin: 1rem;"> <span style="color: white; font-size: 2.5rem;">Penn State University  </span> <span style="font-style: italic; font-size: 1.75rem;">&nbsp;&nbsp;(May 2024 - current) </span></p>
        <p style="margin: 1rem;"> Master of
            Geographic Information Systems </p>
    </div>
    <div style="border-style: solid; border-width: 2px; border-top:0; border-bottom: 1px solid darkcyan ;">
        <img src="/images/Penn_State_Logo.png" alt="" style="width: 15%; margin: 2rem; margin-bottom: 0;">
        <p style="margin: 1rem;"> <span style="color: white; font-size: 2.5rem;">Penn State University  </span> <span style="font-style: italic; font-size: 1.75rem;">&nbsp;&nbsp;(August 2023 - May 2024) </span></p>
        <p style="margin: 1rem;"> Postbaccalaureate Certificate in
            Geographic Information Systems  </p>
    </div>
     <div style="border-style: solid; border-width: 2px; border-top:0; border-bottom: 1px solid darkcyan ;">
        <img src="/images/purdue_logo.png" alt="" style="width: 5%; margin: 1.5rem;">
        <img src="/images/purdue_label.png" alt="" style="width: 10%;">
        <p style="margin: 1rem;"> <span style="color: white; font-size: 2.5rem;">Purdue University  </span> <span style="font-style: italic; font-size: 1.75rem;">&nbsp;&nbsp;(August 2017 - May 2022) </span></p>
        <p style="margin: 1rem;"> Bachelor of Science in Civil Engineering  </p>
    </div>
</div>