<footer class= "footer">
    <div style="height: 20rem; background-color: #181823;" >
        <div class ="grid--footer container">
            <div class="footer__item__bold" ><a href="index.html" >About</a></div>
            <div class="footer__item__bold" ><a href="projects.html">Projects</a>
                <div class="footer__item" style="margin-top: .5rem;" ><a href="projects.html#section_classwork"">Classwork</a></div>
                <div class="footer__item" ><a href="projects.html#section_personal"">Personal</a></div>
            </div>
            <div class="footer__item__bold" ><a href="resume.html"">Resume</a></div>
        </div>
    </div>
    <div style="height: 5rem; background-image: linear-gradient(180deg, transparent, transparent), linear-gradient(90deg, #5221e6, #8d21e6)"></div>
</footer>