<div class="project__section">
    <div class="wrapper projects-grid">
        <div class="normal-wrapper">
            <div class="normal-wrapper" style="margin-bottom: 2.5rem; padding: 2.5rem;">
                <p style="margin:0px;">MY PROJECTS</p>
                <h1 style="margin:0px;">Personal</h1>
            </div>
            <div class="normal-wrapper">
                <a href="personal/census_app.html">
                    <div class="card">
                        <div class="project__image">
                            <img src="images/census.png" />
                        </div>
                        <footer class="project__description">
                            <h3 class="feature__heading">Illinois 2020 Census App</h3>
                            <p>Created an interactive choropleth map web map that allows the user to explore racial demographics of each Census Tract and each County in Illinois for the latest Decennial Census.  </p>
                        </footer>
                    </div>
                </a>
            </div>
        </div>
        <div class="normal-wrapper">
            <div class="normal-wrapper" style ="margin-top: 5rem">
                <a href="personal/geography.html">
                    <div class="card">
                        <div class="project__image">
                            <img src="images/multi.png" />
                        </div>
                        <footer class="project__description">
                            <h3 class="feature__heading">Illinois Map</h3>
                            <p>Created an Layout of Illinois Geography using ArcGIS pro. This layout contains a 30 meter DEM map, and HUC level Sub Basin Watershed Map with the Basins outlined. </p>
                        </footer>
                    </div>
                </a>
            </div>
            <div class="normal-wrapper">
                <a href="personal/3d.html">
                    <div class="card">
                        <div class="project__image">
                            <img src="images/3D.png" alt="A happy, smiling customer" />
                        </div>
                        <footer class="project__description">
                            <h3 class="feature__heading">3D Population Density Map </h3>
                            <p>Created a 3D Census Tract Map of Illinois with the height determined by population density. Map is created using ArcGIS Pro Scenes. Data is from the 2020 Census</p>
                        </footer>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>