<div class="resume__block" style="background-color: #181823;">
    <div style="border-style: solid; border-width: 2px; border-color: darkcyan; background-color: #151515;">
        <h2 style="margin: 0; text-align: center; padding: 1.5rem;">Programming Skills</h2>
    </div>
    <div style="border-style: solid; border-width: 2px; border-top:0;  border-bottom: 1px solid darkcyan; display: flex; justify-content: space-between;">
        <div style="margin-top: 2rem; margin-left: 5%;">
            <img src="/images/Python.png" alt=""
                style="width: 5rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0; margin-bottom: 1.5rem;">Python</h3>
        </div>
        <div style="margin-top: 2rem;">
            <img src="/images/html.png" alt=""
                style="width:5rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;">HTML</h3>
        </div>
        <div style="margin-top: 2rem;">
            <img src="/images/css.png" alt=""
                style="width: 3.5rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;">CSS</h3>
        </div>
        <div style="margin-top: 1.8rem;">
            <img src="/images/js.png" alt=""
                style="width:8rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;">JavaScript</h3>
        </div>
        <div style="margin-top: 1.5rem;">
            <img src="/images/R.png" alt=""
                style="width:6rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;">R</h3>
        </div>
        <div style="margin-top: 1.5rem;">
            <img src="/images/matlab.png" alt=""
                style="width:6rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;">MATLAB</h3>
        </div>
        <div style="margin-top: 1.5rem;  margin-right: 5%;">
            <img src="/images/SQL.png" alt=""
                style="width: 5.5rem;; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;"> mySQL</h3>
        </div>
    </div>
