<a href="united_states_historical_boundaries_app.html">
    <div class="card">
        <div class="project__image">
            <img src="images/Historical_Boundaries_App.png" />
        </div>
        <footer class="project__description">
            <h3 class="feature__heading">United States Historical Boundaries App</h3>
            <p>Created an interactive web map documenting US Historical State Boundaries. The web
                app showcases all historical boundary changes ranging from 1783 to 1959. </p>
        </footer>
    </div>
</a>