<div class="resume__block" style="background-color: #181823;">
    <div style="border-style: solid; border-width: 2px; border-color: darkcyan; background-color: #151515;">
        <h2 style="margin: 0; text-align: center; padding: 1.5rem;">Software Skills</h2>
    </div>
    <div style="border-style: solid; border-width: 2px; border-top:0;  border-bottom: 1px solid darkcyan; display: flex; justify-content: space-between;">
        <div style="margin-top: 2rem; margin-left: 5%;">
            <img src="/images/mircosoft.png" alt=""
                style="width: 15rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0; margin-bottom: 1.5rem;">Mircosoft Office</h3>
        </div>
        <div style="margin-top: 2rem;">
            <img src="/images/ArcGIS_Pro.png" alt=""
                style="width:5rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;">ArcGIS</h3>
        </div>
        <div style="margin-top: 2rem;">
            <img src="/images/QGIS.png" alt=""
                style="width: 12rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;">QGIS</h3>
        </div>
        <div style="margin-top: 1.8rem; margin-right: 5%;">
            <img src="/images/leaflet.png" alt=""
                style="width:19rem; margin-bottom: 0; display: block; margin: auto; margin-bottom: .5rem; ">
            <h3 style=" text-align: center; margin: 0;margin-bottom: 1.5rem;">Leaflet</h3>
        </div>
    </div>